[submodule "upstream"]
	path = upstream
	url = https://github.com/llnl/EQ3_6
[submodule "upstream-dew"]
	path = upstream-dew
	url = https://gitlab.com/ENKI-portal/SUPCRTandEQs.git
	branch = DEW_activities
